@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

* {
	margin: 0px;
	list-style: none;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	height: 2000px;
}

body p {
	font-weight: bold;
}

/* 헤더 - 네비게이션바 */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	color: #f6f6f6;
	height: 60px;
	display: flex;
	justify-content: center;
	opacity: 0.7;
	white-space: nowrap;
}

.header > img {
	width: 40px;
	height: 40px;
	margin-top: 10px;
}

.header > h2 {
	margin-top: 12px;
	margin-left: 10px;
}

.header .navbar {
	margin-left: 50px;
	display: flex;
	font-size: 24px;
}

.header > .navbar > li {
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	margin-top: 10px;
	margin-left: 50px;
}

.header > .navbar > li:hover {
	border-bottom: 1px solid #f6f6f6;
}

.header > .navbar > li > a {
	margin-top: 10px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.header > .navbar > li > a:link {
	color: #f6f6f6;
}

.header > .navbar > li > a:visited {
  color: #f6f6f6;
}

.header > .button > .funding {
	background: rgba(0, 0, 0, 0.5);
	width: 180px;
	margin-left: 100px;
	margin-top: 10px;
	border-radius: 10px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
  border: 2px solid #fff;

}

.header > .button > .funding:hover {
  border-radius: 25px;
	transition: all, 0.2s;
}

/* 메인 문구 파트 (우주 배경)*/

.background {
	color: white;
	background: url(../image/3.jpg);
	width: 100%;
	height: 600px;
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
}

.background > .main {
	display: flex;
	justify-content: center;
}

.background > .main > .contents {
	padding-top: 270px;
}

.background > .main > .contents > h2 {
	font-size: 40px;
	font-weight: bold;
}

.background > .main > .contents > p {
	font-size: 24px;
	margin-top: 5px;
	font-weight: bold;
}

.background > .main > .contents_img {
	padding-top: 200px;
	margin-left: 100px;
}

.background > .main > .contents_img > img {
	width: 250px;
	height: 250px;
	border-radius: 100px;
}

.background > .main > .contents_img > img:hover {
	transform: scale(1.1);
	transition: all, 0.8s;
	cursor: pointer;
}

/*메인 문구 타이핑 효과 */

#dynamic {
	position: relative;
	display: inline-block;
}

#dynamic::after {
  content: "";
  display: block;
  position: absolute; 
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: #f6f6f6;
}

#dynamic.active::after {
  display: none;
}

.lg-text {
	font-size: 1.5rem;
}



/*메인 페이지 ABOUT 파트 */

.about {
	background: url(../image/white.jpg);
	height: 1080px;
	color: black;
}


.about > h1 {
	text-align: center;
	font-size: 42px;
	padding-top: 70px;
}

.about h2 {
	font-size: 40px;
	line-height: 64.5px;
	letter-spacing: -1.29px;
  font-weight: 700;
	margin-left: 30px;
	font-family: "Lexend","Noto Sans KR",sans-serif;
}

.about > p {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}

.about > .first_ul {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.about > ul > .about_img {
	margin-left: -30px;
}

.about > ul > .about_img > img {
	width: 250px;
	height: 250px;
}

.about > ul > .about_desc {
	margin-top: -10px;
	margin-left: 40px;
}

.about > ul > .about_desc > .sub_title {
	font-size: 24px;
	line-height: 39px;
  letter-spacing: -.78px;
  font-weight: 600;
  margin-top: 14px;
	margin-left: 30px;
}

.about > ul > .about_desc > .sub_desc {

	font-size: 16px;
	line-height: 24px;
	letter-spacing: -.48px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 20px;
}

.about > .second_ul {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}

.about > ul > .about_desc2 > .sub_title2 {
	font-size: 24px;
	line-height: 39px;
  letter-spacing: -.78px;
  font-weight: 600;
  margin-top: 14px;
	margin-left: 30px;
}

.about > ul > .about_desc2 > .sub_desc2 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -.48px;
	font-weight: bolc;
	margin-left: 30px;
	margin-top: 20px;
}

.about .about_desc2 {
	margin-left: -50px;
}

.about > ul > .about_img2 > .first_img {
	width: 350px;
	height: 250px;
	margin-left: 20px;
}

.about > ul > .about_img2 > .second_img {
	width: 230px;
	height: 230px;
	margin-left: 30px;
	padding-top: -30px;
}

.about > ul img:hover {
	transform: scale(1.1);
	transition: all, 0.6s;
	cursor: pointer;
}

.about > .center_img {
	text-align: center;
}

.about > .center_img > img {
	margin-top: 70px;
	margin-bottom: 70px;
	width: 40px;
	height: 40px;
}

/* Funding 리스트 파트 */

.fundingList {
	background-color: #f6f6f6;
	margin-top: -30px;
	height: 550px;
}

.fundingList > p {
	text-align: center;
	margin-top: 30px;
	padding-top: 40px;
	font-size: 36px;
	font-weight: 200;
}

.fundingList > h3 {
	margin-top: 20px;
	text-align: center;
}

.fundingList > ul {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	background-color: #f6f6f6;
}

.fundingList > ul > li {
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: 0.1px solid rgb(215, 200, 200);
}

.fundingList > ul > li:hover {
	transform: scale(1.05);
	transition-duration: 0.3s;
	cursor: pointer;
}

.fundingList > ul > .second-child {
	margin-right: 40px;
	margin-left: 40px;
}

.fundingList > ul > li > .funding-img {
	background-color: #ececec;
	border-radius: 10px;
	width: 300px;
	height: 200px;
}

.fundingList > ul > li > .funding-img > img {
	width: 300px;
	height: 200px;
	border-radius: 10px;
	border: 0.1px solid rgb(215, 200, 200);
}


.fundingList > ul > li > .funding-contents {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-align: center;
}

/* TEAM */
.team {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  height: 700px;
	display:flex;
	justify-content: center;
  padding-top: 10px;
}

.team > .team_contents > h1 {
	text-align: center;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.team > .team_contents > h4 {
	text-align: center;
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 60px;
}

.team ul {
  display: flex;
  padding-left: 0px;
}

.team .first_line  li {
	text-align: center;
	box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 35%);
	width: 250px;
  height: 360px;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;

}

.team .first_line  li:first-child {
  margin-left: 20px;
}

.team img {
	margin-top: 30px;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 25%);
}

.team .first_line  li > h2 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.team .first_line li > h3 {
	margin-top: -5px;
	color:#3b5999;
	font-size: 15px;
}

.team .first_line li > h4 {
	margin-top: 20px;
	font-size: 16px;
}

/* contact */
.contact {
	background: url(../image/3.jpg);
	color: white;
	height: 120px;
	display: flex;
	justify-content: center;
}

h3 {
	font-size: 18px;
}

.contact img {
	margin-top: 20px;
	width: 40px;
	height: 40px;
}

.contact ul {
	display: flex;
	padding-left: 0px;
	margin-left: -40px;
}

.contact li {
	margin-left: 100px;
}

.first > .title {
	display: flex;
}

.first > .title > h2 {
	margin-top: 22px;
	padding-left: 7px;
}

.first > h3 {
	margin-top: 15px;
}

.second > h3:first-child, .third > h3:first-child {
	margin-top: 25px;
}

.second > h3:last-child, .third > h3:last-child {
	margin-top: 10px;
}

